{% extends 'base.html' %}



{% comment %} {% if request.user.customer%}
Welcome{{request.user.username}}
<a href="{% url 'recommapp:logout' %}">Logout</a>
{% else %}

<a href ="{% url 'recommapp:login' %}"> Login </a> 

{% endif %} {% endcomment %}


 {% block content %}

    <div  style="margin:80px;">  
      <h1 class=" text-center"> Some Of The Menu Items </h1>
      <form   action =" {% url 'recommapp:search' %} ", method="GET">
          <div class="input-group rounded " style="width:40%;margin:auto;padding:20px;">
              <input type="text" class="form-control rounded"name= "keyword" placeholder="Search" aria-label="Search"
                aria-describedby="search-addon" required />
               
                <span class="input-group-text border-0" id="search-addon">
                <i class="fas fa-search"></i>
                </span>
             
          </div>
    </form>

          <div class = 'container'>
          {% for review in reviews %}
            <p> {{review.product.title}}
            </p>
             <p> {{review.rate}}
            </p>

          {% endfor %}
                {% for category in categorys %}
                  <h4>{{category.title}}:</h4>   
                  <div class ="container">
                        <div class="row " >
                            {% for  product in category.product_set.all %}
                           
                            <div class='col-md-4'> 
                            <div class='m-2'>
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img
                                        src="{{product.image.url}} " class="img-fluid" style=" height:200px; object-fit:cover;"
                                      
                                    >
                                    <a href="#!">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                  </div>
                                    <div class="card-body">
                                      <h5 class="card-title">{{product.title}}</h5>
                                      <p class="card-text">
                                       {{product.description}}

                                      </p> 
                                      {% for review in reviews %}
                                      
                                      
                                      {% if product.id == review.product %}
                                      <p><b> Rating:</b>{{review.avgrate}}</p>

                                      
                                   

                                      {% endif %}
                                     
                                      {% endfor %}
                                      <hr>
                                      
                                      <a href="{% url 'recommapp:addtocart' product.id %}" class="btn btn-primary">Add to Cart</a>
                                    
                                      <h5 style='display: inline-block ;float:right'> 
                                      Rs.{{product.price|floatformat:2}}</h5>
                                    </div>
                                  </div>
                          
                                </div>
                                
                            {% endfor %}
                        </div>
                    </div>  
                {% endfor %}

        </div>
    </div>
{% endblock %}



 