 {% extends 'base.html' %}


{% block content %}
<div style="background-color:silver; height:100vh;padding-top:80px;">
    <div class = 'container text-center'  style = " border:1px solid  black; padding:60px; width:40%; margin:auto;box-shadow: 8px 6px 10px 0px rgba(0,0,0,0.5);background-color:white;" 
        <div class ='row'>
            <div class ="col-md-6- mx auto"> 
            <h1> Wellcome to login page </h1>
                <form method ='POST'>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class = "btn btn-primary"> Sign In  </buttion>
                    {% if error %}
                    <li> {{error}}</li>
                    {% endif  %} 
                </form>
            
            </div>  
            <p> or don't have an account? <a href="{% url 'recommapp:register' %}
                {% if request.GET.next %}?next={{request.GET.next}}
                {% endif %}">
                Register Here
            </a></p>
        </div>
    </div>
</div>
{% endblock %}










































