{% extends 'base.html' %}


{% block content %}

            <style>
                .errorlist{
                    color:red;
                }

            </style>
        <div  style="background-color:silver; height:100vh;padding-top:80px;">
           
            <div class = 'container text-center'  style = " border:1px solid  black; padding:40px; width:40%; margin:auto;box-shadow: 8px 6px 10px 0px rgba(0,0,0,0.5);background-color:white;" > 
                <div class ='row'>
                    <div class ="col-md-6- mx auto"> 
                        <h3>Customer Registration Form </h3>
                        <form method ='POST'>
                            {% csrf_token %}
                            {{form.as_p}}
                            <button class ='btn btn-primary'> Sign Up </buttion>
                        </form>

                    </div>
                        <p> or you  have an account? <a href="{% url 'recommapp:login' %}">Login Here</a></p>    
                </div>


            </div>
        </div>

{% endblock %}




